apiVersion: v1
kind: ConfigMap
metadata:
  name: maven-settings
  namespace: tekton-pipelines
data:
  settings.xml: |
    <settings>
      <mirrors>
        <mirror>
          <id>nexus</id>
          <mirrorOf>*</mirrorOf>
          <url>http://nexus-nexus-repository-manager.platform.svc.cluster.local:8081/repository/maven-group/</url>
        </mirror>
      </mirrors>
      <servers>
        <server>
          <id>nexus</id>
          <username>admin</username>
          <password>318a37cc-efed-4101-b9a4-141671dd6b93</password>
        </server>
      </servers>
      <profiles>
        <profile>
          <id>nexus</id>
          <repositories>
            <repository>
              <id>central</id>
              <url>http://central</url>
              <releases><enabled>true</enabled></releases>
              <snapshots><enabled>true</enabled></snapshots>
            </repository>
          </repositories>
          <pluginRepositories>
            <pluginRepository>
              <id>central</id>
              <url>http://central</url>
              <releases><enabled>true</enabled></releases>
              <snapshots><enabled>true</enabled></snapshots>
            </pluginRepository>
          </pluginRepositories>
        </profile>
      </profiles>
      <activeProfiles>
        <activeProfile>nexus</activeProfile>
      </activeProfiles>
    </settings>
